<% provide(:title, 'Help') %>

<h1>Help</h1>
<div>
<p>
  Get help on the Rails at
  <a href="http://google.com">Google</a>
  To check specific topic
  <a href="http://stackoverflow.com">Stack Overflow</a>
</p>
</div>



